body{
    animation: CambioColores .1s linear infinite alternate both;
    /*background-size: cover;
    background-repeat: no-repeat;*/
    background-attachment: fixed;
    max-width: 70%;
    margin: auto;
}
#titular{
    color: black;
}
#divBody{
    display: flex;
    background-color: lightblue;
    filter:alpha;
    opacity:.6;
    margin: 20px 0px 20px 0px;
    border-radius: 20px;
    justify-content: center;
}
/*Los keyframes son para las animation*/
@keyframes CambioColores {
    0% {
        background-image: url(http://api.thumbr.it/whitenoise-361x370.png?background=145c17ff&noise=626262&density=60&opacity=50);
    }
    100%{
        background-image: url(http://api.thumbr.it/whitenoise-361x370.png?background=145c17ff&noise=626262&density=100&opacity=50);
    }
}
